<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<p th:inline="text">[[${name}]]様</p>
	<div>
		<p th:inline="text">いつも『[[${app_title}]]』をご利用いただき、誠にありがとうございます。</p>
		<br>
		<p>現在登録されているパスワードの変更リクエストを受付けました。</p>
		<p>24時間以内に下記URLにアクセスし、パスワードの再設定をお願いいたします。</p>
		<br>
		<p>
			<a th:text="${url}" th:href="${url}"></a>
		</p>
		<br>
		<p th:inline="text">以上、引き続き『[[${app_title}]]』をお楽しみくださいませ。</p>
		<p th:inline="text">[[${app_title}]]事務局</p>
		<br>
		<div>
			<p>*************************************************</p>
			<ul style="padding: 0">
				<li th:inline="text">このメールは、[[${app_title}]]事務局より自動的に送信されております。</li>
				<li>このメールアドレスは送信専用となっており、ご返信いただけません。</li>
				<li th:inline="text">このメールにお心当たりがない場合や、ご不明な点等ございましたら<a
					th:href="${app_contact_url}">お問い合わせフォーム([[${app_contact_url}]])</a>よりご連絡ください。
				</li>
			</ul>
			<p>**************************************************</p>
		</div>
	</div>
</body>
</html>